name: ci

on:
  push:
  pull_request:
    branches:
    - main

defaults:
  run:
    shell: bash

env:
  LANG: en_US.utf-8
  LC_ALL: en_US.utf-8
  PYTHONIOENCODING: UTF-8
  PYTHON_VERSIONS: ""

jobs:

  tests:

    strategy:
      fail-fast: true
      matrix:
        include:
          - rye_version: "0.28.0"
            rye_home: "/opt/rye"
            use_uv: "true"

    steps:
      - uses: actions/cache@v4
        id: get-cache
        key: "${{ matrix.rye_version }}-${{ matrix.use_uv }}"
        path: "${{ matrix.rye_home }}"

      - uses: phi-friday/install-rye@v1.2
        if: steps.get-cache.outputs.cache-hit != 'true'
        id: install-rye
        with:
          rye_version: "${{ matrix.rye_version }}"
          rye_home: "${{ matrix.rye_home }}"
          use_uv: "${{ matrix.use_uv }}"

      - name: Install dependencies
        run: rye sync

      - name: Run the test suite
        run: rye run pytest --cov=src/ --cov-report=term-missing --cov-report=html --disable-warnings
